
.tabContainer {
    margin: 30px;
    height: 800px;
}

.searchContainer {
    margin: 20px;
}

.tableContainer {
    margin: 20px;
}

.pieChart {
    margin: 20px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.pieChartContainer {
    width: calc(100% - 40px);
    height: 100%;
}