.headerSortBtn {
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
    background-color: inherit;
    outline: none;
}

.detailSpan {
    text-align: center;
    background-color: inherit;
}

.deleteBtn {
    width: 30%;
    height: 100%;
    border: none;
    text-align: center;
    background-color: inherit;
    outline: none;
}

.addTableRowBtn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;
    outline: none;
}

