.headerSortBtn {
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
    background-color: inherit;
    outline: none;
}

.detailContainer {
    width: 50%;
    background-color: inherit;
    text-align: center;
    float: left;
}

.deleteBtn {
    clear: both;
    width: 40%;
    border: none;
    text-align: center;
    background-color: inherit;
}

.addTableRowBtn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;
    outline: none;
}

